html {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: inherit;
    color: rgb(82, 92, 36);
}

.table-container {
    display: grid;
    place-items: center;
}

.table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}


.table > * {
    display: grid;
    place-items: center;
    font-size: 1rem;
}

.table .blank-cell {
    border: none;
}

.header, .index {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.header {
    margin: 20px 0;
}


.disable {
    opacity: 0.1;
}


.table-input {
    background-color: #636262;
    font-size: 1rem;
    color: white;
    width: 4vw;
    height: 4vw;
    border-radius: 5px;
}

.incremental-button {
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    font-size: 2rem;
    border: 1px solid black;
    width: 8vw;
    height: 8vw;
}

.save-button {
    color: white;
    background-color: #4CAF50;
    border-radius: 10px;
    font-size: 1rem;
    border: 1px solid black;
    width: 15vw;
    height: 8vw;
}

.save-button:hover {
    background-color: #3b833f;
}

.save-button-container,
.incremental-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 2vh;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 8px;
    }
}
