{% extends 'core/_base.html' %}
{% block content %}
  <h1>
    <a href="{% url 'core:cliente' customer_id=customer.id %}" style="color: var(--text-secondary);">{{ customer }}</a>
    / Valores por defecto
  </h1>
  <form action="{% url 'core:cliente_valores_defecto_diarios' customer_id=customer.id %}" method="POST">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Tipo de pan</th>
          <th class="col-right">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {% for daily_default in daily_defaults %}
          <tr>
            <th scope="row">
              <label for="choice{{ forloop.counter }}">{{ daily_default.name }}</label>
            </th>
            <td class="col-right">
              <input class="input-qty" name="{{ daily_default.id }}" id="choice{{ forloop.counter }}" value="{{ daily_default.number }}" />
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="margin-top: 24px;">
      <button type="submit" class="btn">Guardar</button>
    </div>
  </form>
{% endblock %}
