{% extends 'core/_base.html' %} {% block content %}
<h1 >📅 {{ customer }}</h1>
<h2>Valores por defecto diarios</h2>
<form action="{% url 'core:cliente_valores_defecto_diarios' customer_id=customer.id %}" method="POST" class="container" style="width: max(60vw, 300px)">
  {% csrf_token %}
  <table>
      <thead>
        <tr>
          <th scope="col">Tipo de pan</th>
          <th scope="col">Total</th>
        </tr>
      <thead>        
      <tbody>
      {% for daily_default in daily_defaults %}
      <tr>
          <th scope="row">
            <label for="choice{{ forloop.counter }}">{{ daily_default.name }}</label>
          </th>
          <td>
            <input name="{{ daily_default.id }}" id="choice{{ forloop.counter }}" value="{{ daily_default.number }}"/>
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  <button type="submit" >Guardar</button>
</form>
{% endblock %}