{% extends 'core/_base.html' %}
{% block content %}
  <h1>{{ customer }}</h1>
  <p class="caption">{{ date_long_str }}</p>
  <div class="page-actions">
    <form action="{% url 'core:cliente' customer_id=customer.id %}">
      <input type="date" name="date" value="{{ date_iso_str }}" onchange="this.form.submit()" />
    </form>
    <a href="{% url 'core:cliente_valores_defecto_diarios' customer_id=customer.id %}" class="btn">Valores por defecto</a>
    <a href="{% url 'core:editar-cliente' customer_id=customer.id %}" class="btn btn-edit">Editar cliente</a>
  </div>
  <form action="{% url 'core:cliente' customer_id=customer.id date=date %}" method="POST">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>Tipo de pan</th>
          <th class="col-right">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <th scope="row">
              <label for="choice{{ forloop.counter }}">{{ order.name }}</label>
            </th>
            <td class="col-right">
              <input class="input-qty" name="{{ order.id }}" id="choice{{ forloop.counter }}" value="{{ order.number }}" />
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="margin-top: 24px;">
      <button type="submit" class="btn">Guardar</button>
    </div>
  </form>
{% endblock %}
