{% extends 'core/_base.html' %} {% block content %}
<h1 >👤 {{ customer }}</h1>
<p>{{ date_long_str }}</p>
<div class="grid">
  <form action="{% url 'core:cliente' customer_id=customer.id %}">
      <input id="date-input" type="date" name="date" aria-label="Date" value="{{ date_iso_str }}" onchange="dateFormHandler(event)" />
  </form>
  <form action="{% url 'core:cliente_valores_defecto_diarios' customer_id=customer.id %}" method="get">
    <button class="secondary">Valores por defecto diarios</button>
  </form>
  <form action="{% url 'core:editar-cliente' customer_id=customer.id %}" method="get">
    <button class="contrast">Editar datos del cliente</button>
  </form>
</div>
<form action="{% url 'core:cliente' customer_id=customer.id date=date %}" method="POST" style="width: max(50vw, 300px)" class='container'>
  {% csrf_token %}
  <table>
      <thead>
        <tr>
          <th scope="col">Tipo de pan</th>
          <th scope="col">Total</th>
        </tr>
      <thead>        
      <tbody>
      {% for order in orders %}
      <tr>
          <th scope="row">
            <label for="choice{{ forloop.counter }}">{{ order.name }}</label>
          </th>
          <td>
            <input name="{{ order.id }}" id="choice{{ forloop.counter }}" value="{{ order.number }}"/>
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  <button type="submit" >Guardar</button>
</form>
{% endblock %}
