{% extends 'core/_base.html' %} {% block content %}
  <div class="h-flex jc-center">
    <h2 class="seconday-title">{{ customer }}</h2>
  </div>
  <div class="h-flex jc-center">
    <div class="w-40 date-container">
      <a id="left-arrow" href="{% url 'core:cliente' customer_id=customer.id date=day_before_iso %}"><i class="arrow left"></i></a>
      <h1 class="w-40">{{ date_long_str }}</h1>
      <a id="right-arrow" href="{% url 'core:cliente' customer_id=customer.id date=day_after_iso %}"><i class="arrow right"></i></a>
    </div>
  </div>
  <div class="h-flex jc-center">
    <a href="{% url 'core:cliente_valores_defecto_diarios' customer_id=customer.id %}" class="custom-link daily-defaults-link">Valores por defecto diarios</a>
  </div>
  <div class="h-flex jc-center">
    <a href="{% url 'core:editar-cliente' customer_id=customer.id %}" class="custom-link edit-customer-link">Editar datos del cliente</a>
  </div>
  <form action="{% url 'core:cliente' customer_id=customer.id date=date %}" method="POST">
    {% csrf_token %}
    <section class="v-flex">
      {% for order in orders %}
        <div class="h-flex w-30">
          <label for="choice{{ forloop.counter }}">{{ order.name }}</label>
          <input name="{{ order.id }}" id="choice{{ forloop.counter }}" value="{{ order.number }}" class="input" />
        </div>
      {% endfor %}
    </section>
    <div class="h-flex jc-center gap-20 my-8">
      <button type="button" id="plus" class="incremental-button">+</button>
      <button type="button" id="minus" class="incremental-button">-</button>
    </div>
    <div class="h-flex jc-center">
      <button type="submit" class="save-button">Guardar</button>
    </div>
  </form>
{% endblock %}
