{% extends 'core/_base.html' %}
{% block content %}
  <h1>✍️ Pedidos</h1>
  <p>{{ date_long_str }}</p>
  <form action="{% url 'core:pedidos' %}" class='date-picker'>
    <input id="date-input" type="date" name="date" aria-label="Date" value="{{ date_iso_str }}" onchange="dateFormHandler(event)" />
  </form>
  <section style="width: max(60vw, 300px)">
    <table id='orders-table'>
      <thead>
        <tr>
          <th scope="col">Tipo de pan</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <th scope="row">{{ order.name }}</th>
            <td>{{ order.number }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

<script>
  {% comment %} const { jsPDF } = require("jspdf")
  var doc = new jsPDF()
  doc.autoTable({ html: '#orders-table' })
  doc.save('table.pdf') {% endcomment %}
</script>
{% endblock %}
