

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: green;
    padding: 10px 0;
}

.header a {
    font-family: 'Young Serif', serif;
    font-size: 2em;
    color: white;
    text-decoration: inherit;
}

.main-container {
    margin: 20px;
}

.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.date-container h1 {
    font-size: 1rem;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    flex: 0 0 300px;
    text-align: center;
}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.orders-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
}

.order-container {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}