body {
    font-size: min(3vw, 22px);
}

.header-title {
    font-family: 'Young Serif', serif;
    color: #bccded !important;
    text-decoration: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    /* background-color: rgb(23, 21, 36); */
    border-bottom: solid 0.5px white;
}


.header-element,
.customer-list-element, .bread-list-element {
    color: rgb(255, 255, 255);
    text-decoration: inherit;
}


.underline {
    text-decoration: none;
    /* Ensures the link is not underlined by default */
    position: relative;
    transition: all 0.3s ease;
    /* Adjusts the transition speed and type */
}

.underline:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
}

.no-border {
    border: none;
    transition: all 0.3s ease;
}

.no-border:hover {
    border: solid 1px white;
}

.date-picker {
    width: max(20vw, 200px);
}